
# Visual Studio
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Logs
*.log
*.txt
!LICENSE.txt
!README.md

# Packages
packages/
!packages/repositories.config

# Other
Thumbs.db
ehthumbs.db
Desktop.ini
